html body {
  background-color: rgb(124, 95, 124);
}

.card {
  background-color: 'white';
  border-radius: '4px';
  width: '300px';
  height: '300px';
  text-align: 'center';
  padding: '8px'
}

.answer-cards {
  display: grid;
}

.answer-card {
  background-color: white;
  border-radius: 6px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-large {
  border-radius: 6px;
  margin: 8px;
  padding: 8px 36px;
  cursor: pointer;
  background-color: springgreen;
}

.btn-success {
  background-color: green;
}