html body {
  background-color: rgb(124, 95, 124);
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card {
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  height: 325px;
}

.card h3 {
  margin: 8px;
}

.answer-cards {
  display: grid;
}

.answer-card {
  border: 3px solid rgb(141, 138, 138);
  background-color: white;
  border-radius: 6px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}

.btn-large {
  border-radius: 6px;
  margin: 8px;
  padding: 8px 36px;
  cursor: pointer;
  background-color: springgreen;
}

.btn-success {
  background-color: green;
}

.btn-error {
  background-color: rgba(255, 184, 53, 0.938);
}

.btn-next {
  border-radius: 6px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  background-color:rgb(124, 95, 124);
  color: white;
  font-weight: bold;
  border: 1px solid white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}